<section class="jumbotron">
  <h1 class="display-1">AYESHA AGHA</h1>
  <hr>
  <p class="lead">My site is better than Samuel S. Powers'</p>
</section>
<section class="container">
  <div class="col-sm-3">
    <%= link_to image_tag("/assets/architecture.jpg",  alt: "architecture", class: "img-fluid"), "architecture#index" %>
  </div>
  <div class="col-sm-3">
    <%= image_tag("/assets/sculpture.jpg",  alt: "sculpture", class: "img-fluid") %>
  </div>
  <div class="col-sm-3">
    <%= image_tag("/assets/art.jpg",  alt: "art", class: "img-fluid") %>
  </div>
  <div class="col-sm-3">
    <%= image_tag("/assets/about.jpg",  alt: "about", class: "img-fluid") %>
  </div>
</section>

