<% categories = Category.all %>
<% if current_user %>
  <div class="container">
    <%= link_to "Add Project Category", new_category_path, class: "btn btn-primary" %>
  </div>
<% end %>
<section class="container m-t-3">
  <% categories.each do |category| %>
    <div class="col-md-3 col-xs-12 bw pic">
        <%= link_to image_tag(category.image_path.url(:medium),  alt: category.name, class: "img-fluid"), category %>
        <h3 class="category-title"><%= category.name.capitalize %></h3>
    </div>
  <% end %>
</section>