<% categories = Category.all %>
<section class="container">
  <% categories.each do |category| %>
    <div class="col-sm-3">
      <%= link_to image_tag(category.image_path,  alt: category.name, class: "img-fluid"), category %>
    </div>
  <% end %>
</section>