<section class="container">
  <% if @category.name == 'about' %>
    <%= render partial: "categories/about", locals: {category: @category} %>
  <% else %>
    <div class="col-sm-4 offset-sm-4">
      <h1><%= @category.name.upcase %></h1>
      <p class="lead"><%= @category.description %></p>
    </div>
    <% @category.projects.each do |project| %>
      <div class="col-sm-3">
        <%= link_to image_tag(project.main_image_path,  alt: project.title, class: "img-fluid"), project %>
      </div>
    <% end %>
  <% end %>
</section>