<section class="container footer">
  <div class="col-sm-3 social">
    <%= link_to image_tag("linkedin.png", alt:"Linked In"), "https://www.linkedin.com/in/ayeshaagha", target:"_blank"  %>
  </div>
  <div class="col-sm-3  col-sm-offset-2 text-center">
    <p class="lead">&copy;AYESHA AGHA</p>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <p class="lead">ayesha.agha@gmail.com</p>
  </div>
</section>