<% if category.name != "about" %>
  <nav class="navbar">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#responsiveCollapse">
      ☰
    </button>
    <div class="collapse navbar-toggleable-xs" id="responsiveCollapse"> <!-- class .navbar-toggleable-* -->
      <ul class="nav navbar-nav">
          <% if params[:category_id] %>
            <% category = Category.find(params[:category_id]) %>
            <li class="nav-item">
              <%= link_to "Back to #{category.name}", category_path(category), class: "nav-link" %>
            </li>
          <% end %>
          <% if params[:project_id] %>
            <% category = Category.find(params[:category_id]) %>
            <% project = Project.find(params[:project_id]) %>
            <li class="nav-item">
            <%= link_to "#{project.title.capitalize}", category_project_path(category, project), class: "nav-link" %>
            </li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="navbar bg-inverse">
      <%= link_to "AYESHA", root_path, class: "navbar-brand" %>
  </nav>
<% end %>